.columns > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.columns-img-col img {
  width: 100%;
  height: auto;
}

@media (min-width: 900px) {
  .columns > div {
    flex-direction: row;
    align-items: center;
  }
  .columns > div > div {
    flex: 1;
  }
}